* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Georgia", serif;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(135deg, #f5f1ea, #e7dfd3);
  color: #3f3a34;
}

.app.dark {
  background: linear-gradient(135deg, #1c1917, #292524);
  color: #f5f5f4;
}

.container {
  width: 100%;
  padding: 40px;
}


@media (min-width: 1024px) {
  .container {
    max-width: 90vw;   /* dynamic width */
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1400px;
  }
}


/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #efe6d8;
  padding: 14px 22px;
  border-radius: 12px;
  margin-bottom: 30px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.app.dark .navbar {
  background: #1c1917;
}

.logo {
  font-size: 28px;
}

.nav-links span {
  margin: 0 40px;
  cursor: pointer;
  font-size: 16px;        
  font-weight: 900;
  letter-spacing: 0.5px;
}

.nav-links .active {
  font-weight: 900;
  border-bottom: 2px solid currentColor;
  padding-bottom: 5px;
  
}


.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

/* NOTEBOOK */
.notebook {
  width: 100%;
  background: #faf7f2;
  border-radius: 14px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  background-image: repeating-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.05) 1px,
    transparent 1px,
    transparent 28px
  );
}

.app.dark .notebook {
  background: #292524;
}

textarea {
  width: 100%;
  border: none;
  background: transparent;
  resize: none;
  outline: none;
  font-size: 16px;
  line-height: 28px;
  color: inherit;
}

/* CONTROLS */
.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.add-btn {
  background: #d6c6b2;
  border: none;
  padding: 8px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.app.dark .add-btn {
  background: #44403c;
  color: #fff;
}

/* ENTRIES */
.entries {
  margin-top: 35px;
}

.entry {
  background: #faf7f2;
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
}

.app.dark .entry {
  background: #292524;
}

.entry button {
  background: none;
  border: none;
  cursor: pointer;
  color: #b91c1c;
}

.faded {
  opacity: 0.75;
}

.center-text {
  text-align: center;
  margin-top: 40px;
}
